/* 

Hello! 

So in this project, we're gonna write the leanest, meanest CSS we ever have.

That means making everything as SIMPLE as it can be. 

As part of this, I will be ruthlessly going through everything you guys write, and telling you what's wrong.

You're welcome ;)

*/


/* Custom CSS --------------------------------------- */
/* Body */
body {
    padding: 0;
    margin: 0;
    font-family: lft-etica;
}

/* Modifier */
.container--fullwidth {
	width:100%;
	padding: 0;
}

/* Content CSS --------------------------------------- */


.right {
	float:right;
}

.bold {
	font-weight: 600;
}

.border-left {
	border-left: 2px solid #cccccc;
}

.m-zero {
	margin: 0;
}

.p-zero {
	padding: 0;
}


//Typically it's a good idea to give sections a more descriptive name.
//Although I admit naming stuff CAN be tricky!

//Maybe .section--title, .section--

/* Modifier */
.section--one {
	background: #fff;
	color: #000;
}

/* Modifier */
.section--two {
	background: url(../../img/abstractBG.png) no-repeat left bottom fixed;
}

/* Modifier */
.section--three {
	background: #A28182;
	color:#000;
}

/* Modifier */
.section--four {

}

/* Modifier */
.section--five {

}

/* Modifier */
.section--fixed {
	background-size: cover;
}

.section {
	.section__heading {
		max-width: 300px;
		&:after {
			content: '';
			height: 6px;
			width: 100%;
			background: @main-colour;
			display: block;
			
		}
	}
}


//So typically we'd want to avoid media queries like this
//Reason being, if we manually set everything with a MQ, it becomes very time-consuming to change something


//I'll leave it in for now, but we should aim to position things 'naturally' wherever possible

//See my section-base to see how I've done the same thing, much more simply!

@media (max-width:991px) {
	.navbar .container {
		margin-left: 0;
	}
	/* Block */
	.section--content {
		right: 1em;
	}
	/* Modifier */
	.section__heading1 {
		left: 0.5em;
		top: 1em;
	}
	/* Modifier */
	.section--content1 {
		top: 20em;
	}
	/* Modifier */
	.section--content2 {
		top: 35em;
	}
	/* Modifier */
	.section--content3 {
		top: 54em;
	}
}

@media (min-width: 992px) and (max-width:1223px) {
	/* Block */
	.section--content {
		right: 5em;
	}
	/* Modifier */
	.section__heading1 {
		left: 1em;
	}
}

@media (min-width: 1224px) and (max-width:1567px) {
	/* Modifier */
	.section__heading1 {
		left: 3em;
	}
}
