.gz-button {
    
    display: inline-block;
    min-width: 190px;
    padding: 18px;
    color: #fff;
    border-radius: 3px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
    
    &:hover,
    &:focus {
    	text-decoration: none;
        color: #fff;
    }


    &.gz-button--solid {
        background: @button-colour;
        box-shadow: 0 2px 0 darken(@button-colour, 10%);
    }

    &.gz-button--outline {
        background: 0 0;
        border: 1px solid;
    }


}