//Before, I think you had it where these were also called sections

//So we had .sections, inside of .sections...not a fan

//I've renamed it .chunk instead

//And moved it into its own file



.chunk {

	flex: 1;
	
	
	.chunk__footer {
		margin-top: 5vh;
		margin-bottom: 5vh;
	}
	.chunk__icon {
	    display: block;
	    height: 58px;
	    width: 58px;
	    float: left;
	    margin-right: 40px;
		background-repeat: no-repeat;
	}
	
	.chunk__icon--arrow {
	    background-image: url(../../img/arrow-bull.png);
	}
	
	.chunk__icon--speech {
	    background-image: url(../../img/pc-speech.png);
	}
	
	.chunk__icon--rocket {
	    background-image: url(../../img/rocket-launch.png);
	}


	//I also used the overflow: hidden trick
	//Which is hands-down the best way of filling up the rest of a line

	//See this here link: http://stackoverflow.com/questions/1260122/expand-a-div-to-take-the-remaining-width
	//It's super useful. I use it in basically everything.
	.chunk__content {
		overflow: hidden;
		h3 {
			margin-top: 0;
			font-weight: 600;
		}
		p {
			margin: 5px 0 40px;
		}
	}
	
	.chunk--logo {
		display: flex;
		
		h4 {
			margin-right: 10vw;
			height: 25px;
		}

		.chunk__logo {
			background-repeat: no-repeat;
			flex: 1;
		}

		.chunk__logo--pg {
			background-image: url(../../img/pg.png);
		}

		.chunk__logo--goldss {
			background-image: url(../../img/goldss.png);
		}

		.chunk__logo--ibm {
			background-image: url(../../img/ibm.png);
		}

		.chunk__logo--johnlewis {
			background-image: url(../../img/johnlewis.png);
		}
		
		
	}
	
	.chunk--sp {
		margin-top: 0vh;
		.chunk__logo--sp {
			background-repeat: no-repeat;
			display: block;
			margin: 0 auto;
		}
	}
	.chunk__line {
		border-bottom: 2px solid #cccccc;
		margin: 4em 0 3em;
	}
}

.chunk--nmb {
	margin-bottom: 0;
}

.chunk--mtmb {
	margin: 2em 0 1em;
}


