
/* Block */
#menu { 
	margin: 0;
}

/* Modifier */
.menu--tab {
	display:inline-block;
	color: #000;
	padding: 6px;
	margin: 0;
}

/* Modifier */
.menu--tab.active{
	background: rgba(0,0,0, 0.5);
	text-decoration: none;
}
/* Element */
.menu__link{
	text-decoration:none;
	color: #9d9d9d;;
}

.menu__link:hover{
	text-decoration:none;
	color: #fff;
	
}

/* Element and Modifier */
.menu--tab.active .menu__link:hover{
	color: #fff;
	text-decoration:none;
}

/* Modifier */
.menu--tab:hover{
	
}

/* Element and Modifier */
.menu__link,
.menu--tab.active .menu__link{
	padding: 9px 18px;
	display:block;
	text-decoration: none;
}

/* Element and Modifier */
.menu--tab.active .menu__link{
	color: #fff;
	text-decoration: none;
}
