.gz-nav {
    

    .gz-nav__logo {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        width: 149px;
        height: 100%;
        overflow: hidden;
        text-indent: -200%;
        &:before,
        &:after {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transition: opacity 1s linear;
            transition-delay: .3s;
            content: ' ';
            display: block;
        }
        &:before {
            background-image: url(../../img/logo.png);
        }
        &:after {
            background-image: url(../../img/logo-inverse.png);
        }
    }
    .gz-nav__links {
        display: inline-table; //Aah, the elusive inline table
        height: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .gz-nav__links li {
        display: table-cell;
        vertical-align: middle;
        padding: 0 0 0 14px;
    }





    &.light-bg {

    	.gz-nav__item a {
    		color: #000;
    	}

        .gz-nav__logo {
            &:before {
                opacity: 0;
            }
        }
        .gz-nav__logo {
            &:after {
                opacity: 1;
            }
        }
    }
    &.dark-bg {

    	.gz-nav__item a {
    		color: #fff;
    	}

        .gz-nav__logo {
            &:before {
                opacity: 1;
            }
        }
        .gz-nav__logo {
            &:after {
                opacity: 0;
            }
        }
    }
}

.gz-nav--desktop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
    .gz-nav__wrap {
        height: 116px;
        @media @mobile-navbar {
            height: 50px;
        }
    }
    .gz-nav__item {
        a {
            color: #fff;
            display: block;
            padding: 10px;
            border-radius: 3px;
            transition: color 1s linear;
            transition-delay: .3s;
        }
        &.focus a {
            border: 1px solid;
        }
    }
    .gz-nav__links {
        float: right;
        @media @mobile-navbar {
            display: none;
        }
    }
    &.navbar-inverse {
        background: transparent;
        border: 0;
        .gz-nav__item {
            a {
                color: #fff;
            }
        }
    }
}

.gz-nav--mobile {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    padding-top: 50px;
    height: 100%;
    transform: translate3d(0, -100%, 0);
    transition: transform 1s cubic-bezier(.02, .01, .47, 1);
    background: rgba(0, 0, 0, .9);
    display: none;
    @media @mobile-navbar {
        display: block;
    }
    .gz-nav__links {
        width: 100%;
        height: 100%;
        padding: 40px;
        text-align: center;
        display: flex;
        flex-direction: column;
        li {
            flex: 1;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        li a {
            font-size: 22px;
            color: #fff;
        }
    }
    &.gz-nav--show {
        transform: translate3d(0, 0, 0);
    }
}
