.godzilla-pin {

    opacity: 0;
    transform: translate3d(0, 19px, 0);
    transition: all .5s ease;


    circle {
        fill: #fff;
    }
    line {
        stroke: #fff;
        stroke-linecap: round;
        stroke-miterlimit: 10;
        stroke-width: 0.5px;
    }
    text {
        color: #fff;
        fill: #fff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.36);
    }

    &.godzilla-pin--active {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
