.section.section--form {
	background: @main-colour;
	color: @white;
	
	form {
	position: absolute;
    left: 133px;
    top: -42px;
    z-index: 191;
    width: 400px;
    height: 453px;
    background-color: #fff;
    border-color: #fff;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
	}
	
	.form-group{
	top: 43px;
    left: 945px;
    z-index: 193;
    margin: 33px;
    padding: 39px;
    width: 83%;
    height: 0;
    background-color: #f2f2f2;
    border-color: #d0d0d0;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
	}


	.btn-default {
    color: #333;
    background-color: #0088cb;
    border-color: #ccc;
    margin: 33px;
    width: 83%;
    margin-top: 20px;
    padding: 19px;
}
		
		
	
	/*
	
	form {
	  margin: 10px 25%;
	  padding: 10px 20px;
	  background: #f4f7f8;
	  border-radius: 8px;
		-moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box;
		color: #000;
	}

	h4 {
	  	margin: 20px 0 40px;
	  	text-align: center;
		font-weight: 600;
	}

	input[type="text"],
	input[type="password"],
	input[type="date"],
	input[type="datetime"],
	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="tel"],
	input[type="time"],
	input[type="url"],
	textarea,
	select {
	  background: rgba(255,255,255,0.1);
	  border: none;
	  font-size: 16px;
	  height: auto;
	  margin: 0;
	  outline: 0;
	  padding: 15px;
	  width: 100%;
	  background-color: #e8eeef;
	  color: #8a97a0;
	  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	  margin-bottom: 30px;
	}

	input[type="radio"],
	input[type="checkbox"] {
	  margin: 0 4px 8px 0;
	}

	select {
	  padding: 6px;
	  height: 32px;
	  border-radius: 2px;
	}

	button {
	  padding: 19px 39px 18px 39px;
	  color: @white;
	  background-color: #0088cb;
	  font-size: 18px;
	  text-align: center;
	  font-style: normal;
	  border-radius: 5px;
	  width: 100%;
		border: 0;
	  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
	}

	fieldset {
	  border: none;
		margin: 0 20px 40px;
	}

	legend {
	  font-size: 1.4em;
	  margin-bottom: 10px;
	}

	label {
	  display: block;
	  margin-bottom: 8px;
	font-weight: 100;
		text-transform: uppercase;
		color:#B8B8B8
	}
	
	*/
	
}
