//I've moved this out into its own file.

//Just for my own convenience, so I don't have to keep scrolling up and down a huuuuuge file

//The plan is we make a new LESS file for each section we'll have

//So, .section--quote, .section--signup, etc etc.

.section--underline {
	border-bottom: 6px solid @main-colour;
}
	

	
.section--mb {
	margin-bottom: 1em;
}	

.section--center {
	text-align: center;
}


//And to make things even better, I've got rid of all absolute positioning!

//We can create the layout in a simpler way.

.section {


	position: relative;
	background-size: cover !important;


	.section__wrap {


	}

	.section__heading {
	    padding: 0;
	    font-weight: 600;

	}

	.section__backdrop {
		height: 100%;
	    width: 100%;
	    position: absolute;
	    bottom: 0;
	    pointer-events: none;
	    z-index: -1;
		margin-top: 0;
	}
	
	.section__heading01 {
	    padding: 0;
	    font-size: 3em;
	    font-weight: 600;
		margin-top: 0;
		margin-bottom: 5vh;
	}
	
	.section__title {
	    padding: 0;
	    font-size: 1.5em;
		margin-top: 0;
		margin-bottom: 1em;
	}

	//The 'secret sauce' here is display: flex;
	//This makes the chunks space themselves equally down a column

	//No matter how many chunks there are, or how big they are, or how big the container is
	//It 'just works'
	.section__main {
		display: flex;
		flex-direction: column;
	}


}