//Put stuff here...

.section.section--selling-points {


	background: #fff;
	color: #000;
	
	.section__wrap {
		position: relative;
    	top: 2em;
	}
	
	.section__heading {
    	&:after { display: none }
	}              


	.chunk--left, .chunk--right {

		position: relative;
    	top: 9vh;
		

		&:before {
			display: block;
		    width: 100%;
		    height: 1px;
		    content: ' ';
		    background: #ccc;
		    position: relative;
		    top: -20px;
		}
	}
	
	.chunk--left {
		
	}
	
	.chunk--right {
		left: 0em;
	}

	.chunk--bottom {

		position: relative;
    	top: 3vh;

		//This is a bit messy, I agree
		&:before {
		    position: absolute;
		    bottom: 0;
		    left: -30px;
		    z-index: 1;
		    display: block;
		    width: 1px;
		    height: 200%;
		    content: ' ';
		    background: #ccc;
		}

	}
	
	.chunk__content {
		
		h3:first-child {
			font-weight: 600;
			margin-bottom: 0.5em;
		}
		
		
		h3 {
			margin-top: 10px;
			font-weight: 100;
			font-size: 22px;
			margin-bottom: 1em;
		}
		
		p {
			font-size: 20px;
			
		}
		
	}

	.chunk--middle {
		background: #fff url(../../img/chunk-middle.png);
	    background-repeat: no-repeat;
	    background-position: center;
	    
	    //Padding bottom hack is amazing - http://andyshora.com/css-image-container-padding-hack.html
	    height: 0;
	    padding-bottom: 100%;

	    position: relative;
	    z-index: 2;
	}

}