.section.section--products {
	background: @main-colour;
	color: @white;
	
	.section__wrap {
		position: relative;
    	top: -2em;
    	left: 0em;
	}
	
	.section__heading {
		margin-bottom: 0.4em;
		&:after {
			background: @white;
		}
	}
	.chunk--report {
		background: url(../../img/report.png);
	    background-repeat: no-repeat;
	    background-position: center;
	    
	    //Padding bottom hack is amazing - http://andyshora.com/css-image-container-padding-hack.html
	    height: 0;
	    padding-bottom: 100%;

	    position: relative;
	    z-index: 2;
		
		-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.75);
    	-moz-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.75);
    	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
    	border-radius: 10px 10px 0 0;
	}
	.fp-tableCell {
		vertical-align: bottom;
	}
	
	.section__main {
		position: relative;
		right: 1em;
		top: 2em;
		height: 72vh;	
	}

	
}

