///Dang, I gotta make this mobile compatible!



//Let's make this .section.section--lead

//This means that none of these styles will apply unless the block
//has BOTH .section and .section--lead

//This means we won't have annoying styles leaking all over the place
.section.section--lead {
	
	
    //I prefer to set things like font-colour on the top level
    color: #fff;
    text-align: center;
    overflow: hidden;

    .section__backdrop {

    	background: @main-colour;	
    	transition: background .8s linear;


    }

    .section__heading {
    	margin: 0;
    	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.36);
		max-width: 100%;
		&:after { display: none }
    }

    .section__subheading {

      display: block;
      margin-top: 30px;
      margin-bottom: 45px;
      opacity: .7;
      font-size: 15px;
      text-shadow: 1px 1px 1px rgba(0,0,0,.36);

    }

    .section__wrap {

    	max-width: 400px; //Override on tablet size


    	opacity: 0;
    	transform: translate3d(0,20px,0);
    	pointer-events: none;
    	transition: all 1.4s ease;
    	transition-delay: 1s;
    	position: relative;
    	top: -3%;

    	@media @tablet-up {

    		max-width: 720px;
    	
    	}

    }

   	.section__main {
   		display: block;
   	}

   	.section__divider {
   		
    	position: relative;
	    display: block;
	    margin: 10px 0;

    	@media @tablet-up {

		    display: inline-block;
		    background: darken(@main-colour, 3%);
		    margin: 0 60px;
		    padding: 4px;


		    //Pseudo elements IF we're in a media query - blimey, that's some next level shit

	    	&:after {
				  position: absolute;
			    top: -6px;
			    left: 50%;
			    z-index: -1;
			    display: block;
			    width: 1px;
			    height: 500px;
			    margin: 0 auto;
			    content: ' ';
			    background: rgba(255, 255, 255, 0.2);
	    	}

    	}

   	}



   	//This here is one of the big bnefits of using LESS
   	//I can make, like, a super class
   	//So that when the graph finishes loading, we change loads of stuff
   	//All with a transition, all in sync

   	//It's pretty great
   &.section--reveal {

   		.section__backdrop {

   			background: darken(@main-colour, 3%);

   		}

   		

	   	.section__wrap {
	    	opacity: 1;
	    	transform: translate3d(0,0,0);
	    	pointer-events: all;
	    }


   		.godzilla-pin {
   			opacity: .5;
   		}

   }

}