.section--we-do {

	background: url(../../img/abstractBG.png);
	background-size: cover;

		
	.section__heading {
		font-size: 4.1em;
		line-height: 1.2em;
	}
	
	.section__main {
		position: relative;
		left: 4.5em;
		top: 0.5em;
		
		.chunk {
			margin-bottom: 2em;
		}
		
	}
	
}