//Move stuff here...

.section.section--quote {


	background-image: url(../../img/quoteBG.png);
	color: #fff;
	
	.section__wrap {
		position: relative;
    	top: -2em;
    	left: 0em;
	}
	
	.section__heading {
		font-size: 70px;
		max-width: 100%;
		&:after { display: none }
	}

	.bottom-bar {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: #202020;
		height: 12vh;
	}

}