.godzilla-svg {


	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	pointer-events: none;

	.godzilla-svg__fill {
		stroke: darken(@main-colour, 5%);
		stroke-width: 2;
		fill: @main-colour;
	    stroke-dasharray: 1000000;
	    stroke-dashoffset: 1000000;
	}

}

