@main-colour: #d20027;
@button-colour: #0088cb;
@white: #ffffff;



@desktop-up:   ~"only screen and (min-width: 960px)";
@tablet-up:    ~"only screen and (min-width: 720px)";
@mobile-navbar:    ~"only screen and (max-width: @{grid-float-breakpoint})";
